<!-- Define the edit dialog.                       -->
<script type="text/x-red" data-template-name="vmc-control">

    <!-- Topic - ID of target device -->
    <div class="form-row">
        <label for="node-input-topic"><i class="fa fa-tasks"></i> Topic</label>
        <input type="text" id="node-input-topic" placeholder="Topic">
    </div>
    <br/>
</script>


<!-- Next, some simple help text is provided for the node.                   -->
<script type="text/x-red" data-help-name="vmc-control">
   <p></p>
</script>

<script type="text/javascript">
    RED.nodes.registerType('vmc-control', {
        category: 'VMC',
        defaults: {
            topic:   {value: ""}
        },
        inputs:  1,
        outputs: 5,
        align: "right",
        color:   "#E2D96E",
        icon: "smooth.png",
        label:   function() { return "VMC Control"; }
    });
</script>
