<!-- Define the edit dialog.                       -->
<script type="text/x-red" data-template-name="vmc-temperature">

    <div class="form-row">
        <label for="node-input-source"><i class="fa fa-random"></i><span>Source</span></label>
        <select type="text" id="node-input-source" style="display: inline-block; width: 250px; vertical-align: top;">
            <option value="vmcTempInterieur">Interieur</option>
            <option value="vmcTempExterieur">Exterieur</option>
            <option value="vmcTempConsigne">Consigne</option>
            <option value="vmcMaintenance">Maintenance</option>
            <option value="vmcOnOff">On/Off</option>
            <option value="vmcVitesse">Vitesse</option>
        </select>
    </div>
    <div class="form-row node-type-wait">
        <label></label>
        <input type="text" id="node-input-duration" style="text-align:end; width:70px !important">
        <select id="node-input-units" style="width:140px !important">
            <option value="s">Secondes</option>
            <option value="min">Minutes</option>
            <option value="hr">Heures</option>
        </select>
    </div>
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> <span>Name</span></label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
</script>


<!-- Next, some simple help text is provided for the node.                   -->
<script type="text/x-red" data-help-name="vmc-temperature">
   <p></p>
</script>

<script type="text/javascript">

    var label = {
        vmcTempInterieur:   {value: "T° Interieur"},
        vmcTempExterieur:   {value: "T° Exterieur"},
        vmcTempConsigne:   {value: "T° Consigne"},
        vmcMaintenance:   {value: "Maintenance"},
        vmcOnOff:   {value: "On/Off"},
        vmcVitesse:   {value: "Vitesse"},
    };

    RED.nodes.registerType('vmc-temperature', {
        category: 'VMC',
        defaults: {
            source:   {value: ""},
            duration: {value:"250"},
            units: {value:"s"},
            name: {value:""}
        },
        inputs:  1,
        outputs: 1,
        color:   "#C6DBEF",
        icon: "inject.png",
        label: function() { return this.name || label[this.source].value; },
        oneditprepare: function() {
            $("#node-input-source").change(function() {
                if ($(this).val() != "vmcVitesse") {
                    $(".node-type-wait").hide();
                } else {
                    $(".node-type-wait").show();
                }
            });
        }
    });
</script>
